<div class="d-flex justify-content-between flex-wrap flex-md-nowrap aling-items-center pt-3 pb-2 mb-3 border-botom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/add" class="btn btn-sm btn-outline-secondary">+ New Product</a>
        </div>
        <div class="btn-group me-2">
            <a href="/addReview" class="btn btn-sm btn-outline-secondary">+ New Review</a>
        </div>
    </div>
</div>