<!DOCTYPE html>  
<html>
<head>
  <title>Add Category</title>
</head>
<body>

<h1>Add New Category</h1>

<form method="POST" action="/categories">
  <label>Name:</label>
  <input type="text" name="name" required>


  <button type="submit">Add Category</button> 
</form>

<p>
  <a href="/categories">Back to List</a> 
</p>

</body>
</html>